@font-face {
    font-family: mainfont;
    src: url(sf-pro-display_medium.woff2);
}

@font-face {
    font-family: iconfont;
    src: url(sf-pro-display_regular.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.nav{
    height:60px ;
    width: 100%;
    background-color: rgba(14, 14, 14, 0.945);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.nav a{
    color: white;
    font-size: 10pxpx;
    font-family: iconfont;
    text-decoration: none;
    
}

.firstvisit{    
    width: 100%;
    height: 80%;
    text-align: center;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_small_2x.jpg);
    background-size: 80%;
    background-position:top center;
    background-position: 50% 22% ;
}

.firstvisit h1{
    padding-top: 35px;
    color: white;
    font-size: 60px;
    font-family: mainfont;
    font-weight: 400;
}

.firstvisit h3{
    padding-top: 10px;
    color: white;
    font-size: 30px;
    font-family: mainfont;
    font-weight: 100;
}

.firstvisit button{
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px 20px;
    border-radius: 80px;
    border: none;
    font-family: iconfont ;
    font-size: 18px;
}

#learn{
    background-color: royalblue;
    color: white;
}

.firstvisit #Buy{
    color: royalblue;
    background-color: transparent;
    border: 2px solid royalblue;
}
