@font-face {
    font-family: nano;
    src: url(NaruMonoDemo-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #4D5646;
    font-family: nano;

}

body>h4,
h1 {
    padding-top: 30px;
    color: #ffa86d;
    text-align: center;
    line-height: 10px;
}

#main {
    min-height: 100vh;
    width: 100%;
    padding: 30px 45px;
    display: flex;
    justify-content: center;
    gap: 5%;
    row-gap: 30px;
    flex-wrap: wrap;

}

.card {
    height: 350px;
    width: 250px;
    background-color: #f8d693dc;
    padding: 15px 18px;
    border-radius: 17px;
    box-shadow: 8px 10px 20px #1b2d27;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.card img {
    height: 120px;
    width: 90px;
    object-fit: cover;
    object-position: top;
    margin: 8px 0;
    border: 2px solid #BA6830;
    border-radius: 10%;
}

.card h4 {
    padding: 0 0 5px 0;
    font-size: 18px;
    color: #284239;
}

.card h6 {
    padding: 0 0 5px 0;
    font-size: 11px;
    color: rgb(114, 0, 0);
}

.card p {
    font-size: 12px;
    font-weight: 600;
    padding-top: 12px;
    color: #284239;
}

.card button {
    margin: 10px 0;
    padding: 8px 18px;
    font-size: 13px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #BA6830;
    cursor: pointer;
}

.card button:hover {
    background-color: #f8d693dc;
    color: #BA6830;
    border: 2px solid #BA6830;
    font-size: 14px;
}