* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;

}

@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap');

#main {
    height: 100%;
    width: 100%;
    padding-top: 1%;
    font-family: "Delius Unicase", cursive;
    background-color: #f0f0f0;
}

#nav {
    padding-left: 30px;
    /* padding-right: 30px; */

}

#nav1 a {
    /* margin-top: 10px; */
    margin-left: 25px;
    margin-right: 20px;
    text-decoration: none;
    color: hsl(41, 71%, 45%);

}

#nav2 {
    position: absolute;
    right: 4%;
    top: 2%;
}

#nav2 a {
    padding-left: 40px;
    text-decoration: none;
    color: hsl(41, 71%, 45%);

}

h1 {
    padding-left: 40px;
    font-size: 270px;
    font-weight: 300;
    color: #415784;
}

#btmcnt {
    width: 200px;
    margin-left: 50px;
    margin-top: 10px;
}

#btmcnt h3 {
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 15px;
    color: hsl(41, 71%, 45%);

}

#btmcnt p {
    font-size: 15px;
    color: #415784;

}

#btm {
    margin: 30px 50px 30px 50px;
    display: flex;
    justify-content: space-between;
}

#btm a {
    text-decoration: none;
    color: hsl(41, 71%, 45%);

}

#main>img {
    /* height: 200px; */
}

#first {
    height: 250px;
    position: absolute;
    right: 45%;
    top: 40%;
}

#second {
    height: 450px;
    position: absolute;
    right: 7%;
    top: 17%;
}

#third {
    height: 250px;
    position: absolute;
    right: 23%;
    top: 60%;

}

/* #fourth {
    height: 200px;
    position: absolute;
    right: 54%;
    bottom: 5%; */
}