/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.div1, .div2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  margin: 15px;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
  color: red;
} */
@import "tailwindcss";

/* @import url("./navbar/nav.css"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: light;
  src: url(./day3-structures/assets/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: bold;
  src: url(./day3-structures/assets/AeonikTRIAL-Bold.otf);
}

@font-face {
  font-family: normal;
  src: url(./day3-structures/assets/AeonikTRIAL-Regular.otf);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 2em;
  width: 100%;
  height: 50px;
  background-color: rgb(250, 247, 247);
}

.navCenter {
  display: flex;
  gap: 50px;
  align-items: center;
}

.navCenter a {
  text-decoration: none;
  font-family: normal;
  color: rgb(81, 80, 80);
}

.navLeft h2 {
  font-family: bold;
  font-weight: 500;
  font-size: 20px;
}

.navRight button {
  font-family: normal;
  padding: 5px 15px;
  border-radius: 16px;
  border: none;
  background-color: black;
  color: white;
}

.hero-img{
 height: 100%;
 width: 100%;
}

.hero-img>img {
  /* background-image: url(./day3-structures/assets/pic1.avif); */
  position: relative;
  height: 80vh;
  width: 75%;
  margin: 10px 180px;
  object-fit: cover;
  object-position: top;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  z-index: -1;
}

.hero-center{
  width: 100%;
  color: aliceblue;
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-center h1{
  text-align: center;
  font-family: bold;
  font-size: 40px;
  margin-top: 50px;
}

.hero-center p{
  margin-top: 10px;
  text-align: center;
  font-family: normal;
  line-height: 1.2;
}

.hero-center .hero-btn{
  margin-top: 15px;
  background-color: black;
  border-radius: 50px;
  border: none;
  padding: 7px 20px;
  font-weight: 200;
}

.hero-bottom{
  display: flex;
  /* justify-content: space-between; */
  margin: 0 220px;
  position: absolute;
  bottom: 15%;
  gap: 630px;
  color: white;
}

.hero-BR{
  line-height: 1.3;
  font-family: light;
  font-size: 14px;
  font-weight: 100;
}

.hero-BL{
  background: #4f4f4f6e;
  display: flex;
  font-family: light;
  font-size: 13px;
  font-weight: 100;
  gap: 20px;
  align-items: center;
  border: 10px;
  border-radius: 20px;
  padding: 7px 20px;
  /* justify-content: center; */
}
