*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    font-display: column;
    gap: 1rem;
    width: 100%;
    padding: 1rem;

    .top {
        width: 100%;

        img{
            width: 100%;
            border-radius: 10px;
        }
    }

    .bottom {
        background-color: #292929;
        border: radius 10px;
        padding: 1rem;
        gap: 1.5rem;
        display: flex;
        flex-direction: column;
        
        .text{
            display: flex;
            flex-direction: column;
            
        }
    }

    .text {}
}