@font-face {
    font-family: light;
    font-weight: 200;
    src: url(AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    font-weight: 700;
    src: url(AeonikTRIAL-Bold.otf);
}

@font-face {
    font-family: normal;
    font-weight: 500;
    src: url(AeonikTRIAL-Regular.otf);
}

:root{
    --pri:#EBE1D1;
    --sec:#E9762B;
    --tri1: #41644A;
    --tri2: #0D4715;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: var(--pri);
}

#main{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
}

section.allElem{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px
}

.elem{
    background-color: var(--tri1);
    border-radius: 15px;
    font-size: 20px;
    height: 400px;
    width: 250px;
}

