*{
    margin: 0;
    padding: 0;e
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --rotates {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animateBorder{
    from{
        --rotates: 0deg;
    }
    
    to{
        --rotates: 360deg;
    }
}

.box{
    height: auto;
    max-width: 300px;  
    padding: 15px 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* box-shadow: 0 0 60px rgb(255,0,123); */
    border-radius: 12px;
    background: 
        linear-gradient(black) padding-box,
        conic-gradient(from var(--rotates), black, rgb(255,0,123)) border-box;
    border: 5px solid rgba(255, 255, 255, 0);
    animation: animateBorder 10s linear infinite;
}

.box img{
    height: 250px;
    width: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 12px;
}

.box h1{
    text-align: center;
    font-weight: 500;
}

.box p{
    font-size: 14px;
    font-weight: 100;
}
