*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    background-color: black;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(0, 0, 0),rgb(54, 9, 0));
    padding: 20px;
}

section{
    height: 100%;
    width: 350px;
    background-color: black;
    border-radius: 10px;
    margin: auto; /* ye krne se hamare jo reels ka frame h wo har side se margin bara le leta h  or frame ko center kr deta hai */
    
}

.allReels{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow: auto;
}

.allReels::-webkit-scrollbar{
    display: none;
}

.reels{
    scroll-snap-align: start;
    scroll-snap-stop: always;
    height: 100%;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
    border-radius:10px;
    margin-bottom: 10px;
}

.reels video{
    height: 100%;
    width: 100%;
   object-fit: cover;
   border-radius: 10px;
}

.reels .bottom{
    padding: 30px 40px 30px 20px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.099) );
    position: absolute;
    bottom:0;
    color: antiquewhite;
}

.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4{
    font-size: 16px;
    font-weight: 500;
}

.bottom .user button {
    background-color: transparent;
    color: whitesmoke;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 3px;
    border: 2px solid white;
}

.bottom>h3{
    font-weight: 500;
    font-size: 17px;
}

.right{
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 7%;
    right: 0;
    /* transform: translateX(20%); */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right i{
    font-size: 25px;
    font-weight: 100;
}

.right h6{
    font-size: 13px;
    font-weight: 300;
}