*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 78, 34, 0.336);
 }


 #box{
    height: 100%;
    width: 100%;
    background-color: hwb(42 51% 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  
}

h2{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-weight: 700;
}
h1{
  font-size: 50px;
  background-color: lightseagreen;
  padding: 40px 50px;
  border-radius: 10px;
  font-family: monospace;
  text-align: center;
}

button{
  padding: 10px 20px;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

button:active{
  scale: 0.95;
}