body{
    text-align: center;
    margin: 2em;
    background-color: rgb(205, 195, 13);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
    color: rgb(253, 220, 111);
    text-shadow: 2px 0 #0f0e0e, -2px 0 #141212, 0 2px #0f0f0f, 0 -2px #070707,
        1px 1px #1b1919, -1px -1px #0f0b0b, 1px -1px #171010, -1px 1px #000000;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.8em;
    color: rgb(209, 230, 75);
    text-shadow: 2px 0 #0f0e0e, -2px 0 #141212, 0 2px #0f0f0f, 0 -2px #070707,
        1px 1px #1b1919, -1px -1px #0f0b0b, 1px -1px #171010, -1px 1px #000000;

}

.btn{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    padding: 13px 18px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: rgb(202, 216, 0);   
}