* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;  
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


h1{
  background-color: #3e3e3e;
  MIN-height: 100PX;
  min-width: 300px;
  color: whitesmoke;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

