*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.card{
    /* margin: 20px; */
    padding: 15px;
    background-color:rgb(230, 224, 230);
    /* height: 400px; */
    width: 250px;
    text-align: center;
    line-height: 1.5;
    border-radius: 15px;
    border: none;
    box-shadow:10px 10px 35px rgb(255, 236, 236),
    -2px -2px 5px rgba(241, 44, 44, 1) ;
    
}

.card:hover{
    /* border: 1px solidrgba(241, 44, 44, 1; */
    transition: ease-in 0.3s;
    transform: translate(0px, -10px);
}

.card img{
    height: 150px;
    width: 150px;
    border: 3px solid gold;
    border-radius:50% ;
    object-fit: cover;
}

.card h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-transform: capitalize;
    white-space: nowrap;
}

.card h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: brown;
    display: flex;
    justify-content: space-between;
}

.card h3 span{
    font-size: 12px;
    background: rgb(60, 157, 249);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 3.5px 9px 0 9px;
}

.card h4{
    font-size: 17px;
    font-weight: 450;
    color: rgb(0, 99, 145);
}

.card p{
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 1.2;
}
